{% load static %}
<header>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon"><span class="material-symbols-outlined">menu</span></label>
    <nav class="nav-menu">
        <img src="{% static 'exchange/img/logoblue.png' %}" alt="Logo azul de Mana Money Exchange">
        <ul>
            <li><a href="{% url 'index' %}#nosotros"><span class="material-symbols-outlined">info</span>Nosotros</a></li>
            <li><a href="{% url 'index' %}#Calculadora"><span class="material-symbols-outlined">calculate</span>Calculadora</a></li>
            <li><a href="{% url 'index' %}#oficina"><span class="material-symbols-outlined">location_on</span>Oficina</a></li>
            <li><a href="https://wa.link/0eqprb" target="_blank"><span class="material-symbols-outlined">chat</span>Contáctanos</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'divisa_list' %}"><span class="material-symbols-outlined">currency_exchange</span>Administrar Divisas</a></li>
            <li><a href="{% url 'logout' %}"><span class="material-symbols-outlined">logout</span>Salir</a></li>
            {% else %}
            <li><a href="{% url 'login' %}"><span class="material-symbols-outlined">login</span>Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="logo">
        <a href="{% url 'index' %}">
            <img class="logo-img-white" src="{% static 'exchange/img/mana_logowhite.png' %}" alt="Logo de Mana Money Exchange">
        </a>
    </div>
    <div class="false-div">
    </div>
</header>