{% load static %}
{% load humanize exchange_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mana Money Exchange</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'exchange/tv.css' %}">
</head>
<body>
<div class="background-logo"></div>
    <div class="tv-view-container">
      <div class="tv-content">
        <div class="tv-header">
              <div></div> <!-- Espacio para la bandera -->
              <h3>Divisa</h3>
              <h3>Compra</h3>
              <h3>Venta</h3>
          </div>
          
          <!-- Encabezados para columna derecha -->
          <div class="tv-header">
              <div></div> <!-- Espacio para la bandera -->
              <h3>Divisa</h3>
              <h3>Compra</h3>
              <h3>Venta</h3>
          </div>       
          {% for divisa in divisas %}
          <div class="tv-view-info">
              <img src="https://flagcdn.com/{{ divisa.bandera }}.svg" alt="Bandera de {{ divisa.nombre }}">
              <h2>{{ divisa.nombre }}</h2>
              <p>
                ${{ divisa.compra|format_decimal }}
              </p>
              <p>
                ${{ divisa.venta|format_decimal }}
              </p>
          </div>
          {% endfor %}
      </div>
    </div>

<div class="tv-footer">
    <h2>Design by Technotian</h2>
</div>
  
</body>
</html>