{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wexchange</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'exchange/tv.css' %}">
</head>
<body>
<div class="background-logo"></div>
    <div class="tv-view-container">
      <div class="tv-content">
        <div class="tv-header">
              <div></div> <!-- Espacio para la bandera -->
              <h3>Divisa</h3>
              <h3>Compra</h3>
              <h3>Venta</h3>
          </div>
          
          <!-- Encabezados para columna derecha -->
          <div class="tv-header">
              <div></div> <!-- Espacio para la bandera -->
              <h3>Divisa</h3>
              <h3>Compra</h3>
              <h3>Venta</h3>
          </div>       
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
          <div class="tv-view-info">
              <img src="{% static 'exchange/img/usa.png' %}" alt="Dolar Flag">
              <h2>Dolar</h2>
              <p>
                1000
              </p>
              <p>
                2000
              </p>
          </div>
      </div>
    </div>

<div class="tv-footer">
    <h2>Design by mana money exchange</h2>
</div>
  
</body>
</html>